.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #13131f;
    align-items: center;
    color: #F9F9F9;
    flex-wrap: wrap;
}

.actions {
    display: flex;
    align-items: center;
}

.cartIcon {
    margin-left: 20px;
    color: #F9F9F9;
}